# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://your-project-ref.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_...
SUPABASE_SERVICE_ROLE_KEY=sb_secret_...

# Resend
RESEND_API_KEY=re_...
RESEND_FROM_EMAIL=admin@yourdomain.com


# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://udkzxajwoxcppzthvzwz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVka3p4YWp3b3hjcHB6dGh2end6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYzNjA5MDQsImV4cCI6MjA5MTkzNjkwNH0.iESKvyFeCJy9N9_98KWic8EOXHcnJDKp5SnncHNFOSk
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVka3p4YWp3b3hjcHB6dGh2end6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjM2MDkwNCwiZXhwIjoyMDkxOTM2OTA0fQ.n_2jqrp0sUEmnBwG04wo1xnAhil6CGMBlLvuhxSE-ZY
# Resend
RESEND_API_KEY=re_...
RESEND_FROM_EMAIL=admin@yourdomain.com

SUPABASE_PASSWORD=PaZorow2yBrwid6u